<header class="header">
    <a href="#" class="header-logo" id="inicioLink">
        <img src="../../assets/logo_tickINVer.png" alt="TickIN Logo">
    </a>
    <nav class="header-nav">
        <a href="#" class="nav-link" id="eventosLink">Eventos</a>
        <a href="#" class="nav-link" id="saldoLink">Saldo</a>
        <a href="#" class="nav-link profile-icon" id="perfilLink">
            <img src="../../assets/user.png" alt="Perfil">
        </a>
    </nav>
</header>

<!-- Scripts -->
<link rel="stylesheet" href="../css/header.css">
<script src="../js/header.js"></script> 