:root {
  --d-9d-9d-9: rgba(217, 217, 217, 1);
  --vermelho-forte: rgba(179, 3, 3, 1);
  --coral: rgba(248, 131, 121, 1);
  --branco: rgba(255, 255, 255, 1);
  --preto: rgba(0, 0, 0, 1);
  --cinza: rgba(122, 122, 122, 1);
}
