<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="../css/style.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="tela-1">
    		<div class="no-tem-uma-container">Não tem uma conta?
      			<span class="inscreva-se">Inscreva-se</span>
    		</div>
    		<div class="rectangle-parent">
      			<div class="group-child">
      			</div>
      			<b class="login">Login</b>
      			<div class="group-item">
      			</div>
      			<div class="group-inner">
      			</div>
      			<div class="rectangle-div">
      			</div>
      			<img class="logo" alt="" src="../../assets/logo_tickIN.png">
      			
      			<div class="entrar">Entrar</div>
      			<div class="esqueceu-a-senha">Esqueceu a senha?</div>
      			<div class="email">Email</div>
      			<div class="senha">Senha</div>
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>