<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/globals.css" />
    <link rel="stylesheet" href="../css/styleguide.css" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="tela">
      <div class="overlap"><img class="user" src="img/user.svg" /></div>
      <div class="overlap-group">
        <div class="text-wrapper">Pesquisar evento</div>
        <img class="search" src="img/search.svg" />
      </div>
      <img class="chatgpt-image-de" src="img/chatgpt-image-22-de-mai-de-2025-14-35-17-1.png" />
      <div class="in-cio-eventos-saldo">
        início&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;eventos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        saldo
      </div>
      <div class="group">
        <div class="div">
          <div class="overlap-wrapper">
            <div class="overlap-2">
              <div class="group-2">
                <div class="overlap-group-wrapper">
                  <div class="div-wrapper"><div class="text-wrapper-2">Inscrever-se</div></div>
                </div>
                <div class="text-wrapper-3">R$99,90</div>
              </div>
              <div class="venha-para-uma-noite-wrapper">
                <p class="venha-para-uma-noite">
                  Venha para uma noite de inspiração, conexões e aprendizados com quem está transformando o mercado de
                  tecnologia e entretenimento!<br />🗓 Data: 27 de junho de 2025<br />🕖 Horário: 19h às 21h<br />📍
                  Local: Centro de Convenções Nova Era – Auditório Principal
                </p>
              </div>
            </div>
          </div>
          <img class="img" src="img/chatgpt-image-22-de-mai-de-2025-15-08-59-1.png" />
          <p class="p">Palestra com CEO — Inovação, Liderança e o Futuro dos Eventos</p>
        </div>
      </div>
      <div class="group-3">
        <div class="div">
          <div class="group-4">
            <div class="chatgpt-image-de-wrapper">
              <img class="chatgpt-image-de-2" src="img/chatgpt-image-22-de-mai-de-2025-15-00-48-1.png" />
            </div>
            <div class="group-5">
              <div class="div-wrapper"><div class="text-wrapper-4">Inscritos</div></div>
            </div>
          </div>
          <div class="text-wrapper-5">Liderar 2025</div>
        </div>
      </div>
    </div>
  </body>
</html>
