<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../css/globals.css" />
    <link rel="stylesheet" href="../css/styleguide.css" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="tela">
      <div class="overlap">
        <div class="group">
          <div class="overlap-group"><img class="user" src="img/user.svg" /></div>
          <div class="div-wrapper"><div class="text-wrapper">Registrar evento</div></div>
          <div class="div"><div class="text-wrapper-2">Enviar imagens</div></div>
          <img class="logo" src="../../assets/logo_tickINVer.png" />
          <div class="overlap-group-2">
            <div class="frame">
              <div class="rectangle"></div>
              <div class="rectangle"></div>
              <div class="rectangle"></div>
              <div class="rectangle"></div>
              <div class="rectangle"></div>
              <div class="text-wrapper-3">Descrição</div>
              <div class="text-wrapper-4">Valor</div>
              <div class="text-wrapper-5">Endereço</div>
              <div class="text-wrapper-6">Horário</div>
            </div>
            <div class="text-wrapper-7">Nome</div>
          </div>
          <div class="text-wrapper-8">Adicionar arquivo</div>
          <img class="folder-plus" src="img/folder-plus.svg" />
          <img class="img" src="img/chatgpt-image-22-de-mai-de-2025-15-00-48-1.png" />
          <img class="chatgpt-image-de-2" src="img/chatgpt-image-22-de-mai-de-2025-15-03-36-1.png" />
          <img class="chatgpt-image-de-3" src="img/chatgpt-image-22-de-mai-de-2025-15-08-59-1.png" />
          <div class="in-cio-eventos-saldo">
            início&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;eventos&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            saldo
          </div>
        </div>
        <img class="x-circle" src="img/x-circle-3.svg" />
        <img class="x-circle-2" src="img/x-circle-4.svg" />
        <img class="x-circle-3" src="img/x-circle.svg" />
        <img class="x-circle-4" src="img/image.svg" />
        <img class="x-circle-5" src="img/x-circle-2.svg" />
        <img class="plus-square" src="img/plus-square.svg" />
      </div>
    </div>
  </body>
</html>
